html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    /* bottom = footer height */
    padding: 25px;
}

#inputs {
    width: 60%;
    margin-top: 22px;
}

.input-group-addon {
    width:10%;
}

.container {
    box-shadow: 0px 0px 2px #888888;
}

.navbar {
    -webkit-box-shadow: 0px 4px 1px -1px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 4px 1px -1px rgba(0,0,0,0.17);
    box-shadow: 0px 4px 1px -1px rgba(0,0,0,0.17);
}

.navbar-brand {
    
    height: 55px;

}

.element {
    width: 100%;
}

.btnDelete {
    float: right;
    padding: 2px 7px;
}

.alert {
    width:200px;
    height:20px;
    height:auto;
    position:absolute;
    left:50%;
    margin-left:-100px;
    bottom:10px;
    background-color: #383838;
    color: #F0F0F0;
    font-family: Calibri;
    font-size: 20px;
    padding:10px;
    text-align:center;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}

footer {
    background-color: black;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    padding: 9px 8px;
    overflow:hidden;
     -webkit-box-shadow: 0px 4px 1px -1px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 4px 1px -1px rgba(0,0,0,0.17);
    box-shadow: 0px 4px 1px -1px rgba(0,0,0,0.17);
}

.firma {
    margin: 0px 0px 0px 5px;
}
